html,
body {
    height: 100%;
}

body {
    box-shadow: 0px 0px 0px 12px black inset;
    padding: 0 12px;
    display: flex;
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

.textbox {
    width: 20%;
    overflow: hidden;
    padding: 1em 2.4em;
    padding-right: 0;
}

.textbox h1 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 100;
    font-size: 3.3em;
}

.textbox p {
    font-weight: 300;
    line-height: 1.4em;
}

.link {
    stroke: #aaa;
}

path.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

circle {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1.5px;
}

.description {
    opacity: 0.5;
}

.tooltip-svg {
    color: #fff;
    padding: 0.8em;
    background-color: rgba(0, 0, 0, 0.7);
    height: 200px;
    width: 180px;
    visibility: hidden;
}

.tooltip {
    position: absolute;
    border-radius: 6px;
    text-align: center;
    z-index: 9999;
    padding: 1em;
    line-height: 1.5em;
}
