html,
body {
    height: 100%;
}

body {
    box-shadow: 0px 0px 0px 12px black inset;
    padding: 0 12px;
    display: flex;
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.02em;
}

.textbox {
    width: 40%;
    overflow: hidden;
    padding: 1em 2.4em;
    padding-right: 0;
}

.textbox h1 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 100;
    font-size: 3.3em;
}

.textbox p {
    font-weight: 300;
    line-height: 1.4em;
}

#canvas {
    width: 100%;
    filter: grayscale(100%);
}

@media (max-width: 720px) {
    body {
        overflow-y: scroll;
        display: block;
        padding: 12px;
        height: auto;
    }

    .textbox {
        width: calc(100% - 32px);
        padding: 1em;
    }

    .textbox h1 {
        text-align: center;
    }
}

path.link {
    stroke: #b4b4b4;
    stroke-width: 1.9px;
    cursor: pointer;
}

.tooltip-inner {
    color: #fff;
    padding: 0.8em;
    background-color: rgba(0, 0, 0, 0.7);
}
